:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --text2-color: #757575;
  --footer-color: rgb(253, 253, 253, 60%);
  --footer_bg-color: #2f303a;
  --main-color: #ffffff;
  --second-color: #000;
  --focus-color: orange;
  --border-color: #ececec;
  --background-color: #e5e5e5;
  --filters-color: #f5f4fa;
  --border-2-color: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  /* "Raleway"; sans-serif; */
  font-style: normal;
  background: var(--background-color);
  color: var(--text-color);
}

.main {
  width: 1602px;
  height: 1548px;
}
.header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: var(--main-color);
  border: 1px solid var(-border-color);
}
.menu_nav {
  position: absolute;
  width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.logo__color1 {
  color: var(--brand-color);
}
.logo__color2 {
  color: var(--second-color);
}

.navigation a {
  text-decoration: none;
  color: var(--text-color);
}
.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__agencja {
  position: absolute;
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;
  cursor: pointer;
}
.navigation__portfolio {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;
  cursor: pointer;
}
.navigation__kontakt {
  position: absolute;
  width: 51px;
  height: 16px;
  left: 656px;
  top: 32px;
  color: var(--text-color);
}
.contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.e-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  color: var(--text2-color);
  cursor: pointer;
}
.tel {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  color: var(--text2-color);
}
.contact a {
  text-decoration: none;
}

.contact__link:focus {
  text-decoration: underline;
  color: var(--brand-color);
}
.contact__link:hover {
  text-decoration: none;
  color: var(--brand-color);
}
.active__link:hover {
  color: var(--brand-color);
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.h1 {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: var(--footer_bg-color);
}
.h1__text {
  position: absolute;
  width: 696px;
  height: 200px;
  left: 452px;
  top: 200px;
  right: 452px;
  bottom: 280px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}
.order {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 370px;
  right: 700px;
  bottom: 200px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.feature1 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.feature2 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}

.feature3 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}
.feature4 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 1115px;
  top: 774px;
}

.features__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color);
}
.features__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text2-color);
}

.our-work {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
  bottom: 50px;
  background: var(--main-color);
}
.our-work_header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.box1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0px;
}
.box2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 415px;
}
.box3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 830px;
  right: 215px;
}

.our__team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: var(--filters-color);
}
.our__team_header {
  position: absolute;
  width: 210px;
  height: 42px;
  left: 695px;
  top: 1543px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--text-color);
}
.our__team_box {
  position: absolute;
  height: 368px;
  width: 270px;
  top: 1635px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our__team_box1 {
  left: 215px;
}
.our__team_box2 {
  left: 515px;
}
.our__team_box3 {
  left: 819px;
}
.our__team_box4 {
  left: 1115px;
}

.our__team_name-text {
  position: absolute;
  width: 72px;
  height: 19px;
  top: 290px;
  right: 99px;
  bottom: 59px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var (--text-color);
}
.our__team_position-text {
  position: absolute;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: var(--text2-color);
}
.our__team_position-1 {
  width: 130px;
  top: 319px;
  left: 70px;
  right: 70px;
  bottom: 30px;
}
.our__team_position-2 {
  width: 147px;
  top: 319px;
  left: 62px;
  right: 61px;
  bottom: 30px;
}
.our__team_position-3 {
  width: 76px;
  top: 319px;
  left: 97px;
  right: 97px;
  bottom: 30px;
}
.our__team_position-4 {
  width: 87px;
  top: 319px;
  left: 92px;
  right: 91px;
  bottom: 30px;
}

.footer__logo {
  width: 145px;
  height: 31px;
  left: 215px;
  right: 1240px;
  top: 60px;
  bottom: 161px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  position: absolute;
}
.logo__color3 {
  color: var(--main-color);
}
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
  position: absolute;
  width: 246px;
  height: 21px;
  left: 215px;
  top: 111px;
  right: 1139px;
  bottom: 120px;
}

.footer_e-mail {
  position: absolute;
  font-weight: 400;
  width: 231px;
  height: 141px;
  left: 215px;
  top: 141px;
  bottom: 90px;
  color: var(--footer-color);
}

.footer_tel {
  position: absolute;
  font-weight: 400;
  width: 231px;
  height: 171px;
  left: 215px;
  top: 171px;
  bottom: 60px;
  color: var(--footer-color);
}
.footer__bg {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: var(--footer_bg-color);
}

.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
  border: 1px solid var(--border-2-color);
}
.filters {
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  width: 572px;
  height: 54px;
  left: 516px;
  top: 178px;
  right: 516px;
  flex-direction: row;
  border-bottom: var(--main-color);
  display: inline-block;
  display: inline-flex;
}
.filters__active:hover {
  background-color: var(--brand-color);
  color: var(--main-color);
}
.filter-1 {
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  right: 969px;
  bottom: 56px;
  background: var(--filters-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.filter__text-1 {
  left: 532px;
  top: 180px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.filter-2 {
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;

  background: var(--filters-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter__text-2 {
  left: 661px;
  top: 180px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.filter-3 {
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;

  background: var(--filters-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter__text-3 {
  left: 762px;
  top: 180px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(----text-color);
}
.filter-4 {
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;

  background: var(--filters-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter__text-4 {
  left: 884px;
  top: 180px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.filter-5 {
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;

  background: var(--filters-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter__text-5 {
  left: 983px;
  top: 180px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(----text-color);
}
.projects {
  box-sizing: var(--main-color);
  border: 1px solid var(--main-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-inline-start: 0px;
  border-color: var(--main-color);
}
.project-1 {
  margin-inline-start: 0px;
  margin-inline-end: 15px;

  width: 370px;
  height: 404px;
  left: 221px;
  top: 266px;
}
.project-2 {
  margin-inline-start: 15px;
  margin-inline-end: 0px;

  width: 370px;
  height: 404px;
  left: 621px;
  top: 266px;
}
.project-3 {
  margin-inline-start: 28px;
  margin-inline-end: 0px;
  border-right: 0px;
  width: 370px;
  height: 404px;
  left: 1021px;
  top: 266px;
}
.project-4 {
  margin-inline-start: 0px;
  margin-inline-end: 15px;
  left: 221px;
  top: 700px;
}
.project-5 {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  left: 621px;
  top: 700px;
}
.project-6 {
  margin-inline-start: 13px;
  margin-inline-end: 0px;
  left: 1021px;
  top: 700px;
}
.project-7 {
  margin-inline-start: 0px;
  margin-inline-end: 15px;
  left: 221px;
  top: 1134px;
}
.project-8 {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  left: 621px;
  top: 1134px;
}
.project-9 {
  margin-inline-start: 12px;
  margin-inline-end: 0px;
  left: 1021px;
  top: 1134px;
}
/* .figcaption {
  position: absolute;
  width: 322px;
  height: 70px;
} */
.project__figcaption_title {
  left: 239px;
  top: 576px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--text-color);
}
.project__figcaption_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text2-color);
}
